@model updated_group_project.Models.Event[]
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
<thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            city_name
        </th>
        <th>
            description
        </th>
        <th>
            start_time
        </th>
        <th>
            stop_time
        </th>
        <th>
            venue_name
        </th>
        <th>
           venue_address
        </th>
        <th></th>
    </tr>
   </thead>
   <tbody>
 @foreach (var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stop_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue_name)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.venue_address)
            </td>
        </tr>
 } 
    </tbody>
    </table>
    
